<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Word.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Word.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Светлая тема</value>
            </setting>
            <setting name="DefaultFontName" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
        </Word.Properties.Settings>
    </userSettings>
</configuration>